
on: [push]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:

    - name: Running an action for checking out a repository
      uses: actions/checkout@master

    - name: Login to Azure container registry
      uses: azure/container-actions/docker-login@master
      with:
        login-server: ${{ secrets.REGISTRY_HOSTNAME }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Setup Cache
      uses: actions/cache@v1
      with:
        path: ~/caches
        key: ${{ runner.os }}-build-doc-${{ hashFiles('Dockerfile') }}
        restore-keys: |
          ${{ runner.os }}-build-doc-${{ hashFiles('Dockerfile') }}
          ${{ runner.os }}-build-doc-
          ${{ runner.os }}-
  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:

    - name: Running an action for checking out a repository
      uses: actions/checkout@master

    - name: Build and save docker image 
      run: |
        if [ ! -f ~/caches/images.tar ]; then
          docker build -t filialfinder . && \
          mkdir -p ~/caches && \
          echo 'tar start'
          docker save filialfinder -o ~/caches/images.tar
          echo 'tar finish'
        fi

    - run: |
        ls -al ~/caches
        du -hs ~/caches/*
   
    - run: |
        docker build . -t ${{ secrets.REGISTRY_HOSTNAME }}/filialfinder:${{ github.sha }}
        docker push ${{ secrets.REGISTRY_HOSTNAME }}/filialfinder:${{ github.sha }}

  run:
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name: Running an action for checking out a repository
      uses: actions/checkout@master

    - name: Cache restore
      uses: actions/cache@v1
      with:
        path: ~/caches
        key: ${{ runner.os }}-build-v3-after-${{ hashFiles('Dockerfile') }}
        restore-keys: |
          ${{ runner.os }}-build-v3-${{ hashFiles('Dockerfile') }}
          ${{ runner.os }}-build-v3-
          ${{ runner.os }}-

    - name: Docker load
      if: steps.cache.outputs.cache-hit != 'true'
      run: | 
        docker load -q -i ~/caches/images.tar
